In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/adars/Desktop/Practice_Python_Data/UM_RACES.csv')

C:\Users\adars\AppData\Local\Temp\ipykernel_11672\78743283.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/adars/Desktop/Practice_Python_Data/UM_RACES.csv')

In [7]:
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [9]:
df.shape

(7461195, 13)

In [11]:
# Data Cleaning
#50mi


df[df['Event distance/length'] == "50mi"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [15]:
df[df['Event distance/length'].isin(["50mi","50k"])]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [22]:
# Show USA races from 2020, 50mi, or 50km
# Using athlete country won' t work
df[(df['Event distance/length'].isin(["50mi","50k"])) & (df["Year of event"] == 2020)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538571,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:34:19 h,日本隊,JPN,1965.0,M,M50,10.627,53107
2538572,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:43:50 h,NaN,AUS,1974.0,M,M45,10.409,8785
2538573,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:04:40 h,NaN,TPE,1976.0,M,M40,9.962,4502
2538574,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:30:49 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,9.452,63964
2538575,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:34:47 h,NaN,TPE,1964.0,M,M55,9.379,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757700,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,10:28:30 h,Sweden Runners IF,SWE,1969.0,M,M50,7.682,859639
2757701,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,10:49:55 h,Stockholm Gerillalöpare,SWE,1993.0,M,M23,7.429,859640
2757702,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:08:13 h,ÅTF,GBR,1980.0,M,M40,6.63,859641
2757703,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:33:04 h,Team Skavsåret IF,SWE,1976.0,M,M40,6.411,21883
2757704,2020,08.10.2020,Täby Extreme Challenge 50 miles - Thursday (SWE),50mi,13,12:47:26 h,CRD Runnerd,SWE,1980.0,F,W40,6.291,859642

In [26]:
usa = "(USA)"
df["USA_races"] = df['Event name'].str.find(usa)

In [27]:
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,USA_races
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0,-1
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1,-1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2,-1
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3,-1
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4,-1

In [29]:
df.drop('USA_races', axis = 1)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461190,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,4:33:20 h,NaN,FRA,NaN,M,NaN,14268.0,1151060
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520
7461192,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,241.000 km,*Budapest,HUN,1950.0,M,M40,10042.0,1047373
7461193,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,228.000 km,*Szeged,HUN,1959.0,M,M35,9500.0,380150
7461194,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,224.000 km,*Pecs,HUN,1958.0,M,M35,9333.0,1070482

In [36]:
#Split at first (, then split at second ) then take just the USA

df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)

0          CHI
1          CHI
2          CHI
3          CHI
4          CHI
          ...
7461190    FRA
7461191    FRA
7461192    HUN
7461193    HUN
7461194    HUN
Name: Event name, Length: 7461195, dtype: object

In [4]:
df2 = df[(df['Event distance/length'].isin(["50mi","50k"])) & (df["Year of event"] == 2020) & (df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'USA')]

In [5]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742

In [8]:
#Clean up athlete age so that the numbers are usable as int

df2["Athlete year of birth"].head()

2542134    1987.0
2542135    1985.0
2542136    1988.0
2542137    1979.0
2542138    1997.0
Name: Athlete year of birth, dtype: float64

In [9]:
df2["Athlete age"] = 2020 - df2["Athlete year of birth"]

C:\Users\adars\AppData\Local\Temp\ipykernel_11672\1209317780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Athlete age"] = 2020 - df2["Athlete year of birth"]

In [10]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete age,Athlete age
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674,33.0,33.0
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268,35.0,35.0
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567,32.0,32.0
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242,41.0,41.0
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742,23.0,23.0

In [11]:
#remove the .0 from athlete age

import math

In [15]:

df2['athlete age'] = df2['athlete age'].astype(str).apply(lambda x: x.replace('.0',''))

C:\Users\adars\AppData\Local\Temp\ipykernel_11672\428130592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['athlete age'] = df2['athlete age'].astype(str).apply(lambda x: x.replace('.0',''))

In [16]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete age,Athlete age
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674,33,33.0
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268,35,35.0
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567,32,32.0
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242,41,41.0
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742,23,23.0

In [18]:
df2.drop("Athlete age", axis = 1)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete age
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674,33
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268,35
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567,32
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242,41
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757274,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:05:34 h,"*Leavenworth, WA",USA,1977.0,M,M40,5,25686,43
2757275,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:22:12 h,"*Eureka, CA",USA,1964.0,M,M55,4.916,346689,56
2757276,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:46:54 h,"*Edmonds, WA",USA,1993.0,M,M23,4.795,653366,27
2757277,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,16:46:56 h,"*Lake Stevens, WA",USA,1977.0,F,W40,4.795,54286,43
2757278,2020,10.10.2020,Old Cascadia 50 Mile Race (USA),50mi,54,17:51:56 h,"*Novato, CA",USA,1957.0,M,M60,4.504,241915,63

In [20]:
df2 = df2.rename(columns = {"Year of event" :  "Year", "Event distance/length" : "Race_length","Athlete performance" : "Athlete_performance", "Athlete gender" : "Athlete_gender","Athlete average speed" : "Athlete_average_speed","athlete age" : "athlete_age","Athlete id" : "Athlete_id"})

In [22]:
df2.head()

,Year,Event dates,Event name,Race_length,Event number of finishers,Athlete_performance,Athlete club,Athlete country,Athlete year of birth,Athlete_gender,Athlete age category,Athlete_average_speed,Athlete ID,athlete_age,Athlete age
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674,33,33.0
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268,35,35.0
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567,32,32.0
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242,41,41.0
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742,23,23.0

In [27]:
# find specific values

everglades_races = df2[df2["Event name"] == "Elephant Mountain 50 Mile (USA)"]
everglades_races.head()

,Year,Event dates,Event name,Race_length,Event number of finishers,Athlete_performance,Athlete club,Athlete country,Athlete year of birth,Athlete_gender,Athlete age category,Athlete_average_speed,Athlete ID,athlete_age,Athlete age
2542134,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,8:51:11 h,"*Phoenix, AZ",USA,1987.0,M,M23,9.089,86674,33,33.0
2542135,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:37:15 h,"*Phoenix, AZ",USA,1985.0,M,M23,6.924,53268,35,35.0
2542136,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,11:59:00 h,*London,GBR,1988.0,M,M23,6.715,778567,32,32.0
2542137,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:04:40 h,"*Fpo, AZ",USA,1979.0,M,M40,6.662,209242,41,41.0
2542138,2020,01.02.2020,Elephant Mountain 50 Mile (USA),50mi,10,12:26:20 h,"*Saint Paul, MN",USA,1997.0,M,MU23,6.469,810742,23,23.0